Repository conjure-cp/conjure-oxide, pull requests merged in 2024-02, with the labels that each got.

#179 Add test that checks if the write function can simplify the xyz problem
  conjure_oxide/src/rewrite.rs
  conjure_oxide/tests/rewrite_tests.rs
Labels: area::conjure-oxide

#180 Uniplate Proof of Concept
  Cargo.lock
  Cargo.toml
  crates/uniplate/Cargo.toml
  crates/uniplate/src/lib.rs
  crates/uniplate/src/uniplate.rs
  tools/gen_docs.sh
Labels: area::uniplate

#208 New Coverage Stuff
  .github/workflows/code-coverage-deploy.yml
  .github/workflows/code-coverage-main.yml
  .github/workflows/code-coverage.yml
  .github/workflows/doc-coverage.yml
  .vscode/extensions.json
  .vscode/settings.json
  tools/coverage.sh
  tools/gen_coverage.sh
  tools/gen_coverage_all.sh
Labels: area::ci

#218 CI: fix PR number not always appearing in coverage-deploy
  .github/workflows/code-coverage-deploy.yml
  .github/workflows/code-coverage-main.yml
  .github/workflows/code-coverage.yml
Labels: kind::bug, area::ci

#217 tester: run minion and print progress for debugging
  conjure_oxide/tests/generated_tests.rs
  conjure_oxide/tests/integration/basic/bool/01/bool-01.essence.disabled
  conjure_oxide/tests/integration/basic/bool/02/bool-02.essence.disabled
  conjure_oxide/tests/integration/basic/bool/03/bool-03.essence.disabled
  conjure_oxide/tests/integration/basic/log-ops/bool-and/bool-03.essence.disabled
  conjure_oxide/tests/integration/basic/log-ops/bool-double-not/bool-03.essence.disabled
  conjure_oxide/tests/integration/basic/log-ops/bool-not/bool-03.essence.disabled
  conjure_oxide/tests/integration/basic/log-ops/bool-or/bool-03.essence.disabled
  conjure_oxide/tests/integration/minion-lowlevel/README
Labels: area::conjure-oxide, kind::testing

#222 Add metadata struct and add it to Constant
  conjure_oxide/src/parse.rs
  conjure_oxide/src/rules/base.rs
  conjure_oxide/src/rules/constant.rs
  conjure_oxide/src/rules/minion.rs
  conjure_oxide/src/solvers/minion.rs
  conjure_oxide/tests/integration/xyz/input.expected-parse.serialised.json
  conjure_oxide/tests/integration/xyz/input.expected-rewrite.serialised.json
  conjure_oxide/tests/rewrite_tests.rs
  crates/conjure_core/src/ast.rs
  crates/conjure_core/src/lib.rs
  crates/conjure_core/src/metadata.rs
Labels: help wanted, area::conjure-oxide, area::conjure-oxide/ast

#233 Add metadata to all enum variants
  conjure_oxide/src/parse.rs
  conjure_oxide/src/rules/base.rs
  conjure_oxide/src/rules/cnf.rs
  conjure_oxide/src/rules/constant.rs
  conjure_oxide/src/rules/minion.rs
  conjure_oxide/src/solvers/kissat.rs
  conjure_oxide/src/solvers/minion.rs
  conjure_oxide/tests/integration/basic/bool/03/bool-03.expected-parse.serialised.json
  conjure_oxide/tests/integration/basic/bool/03/bool-03.expected-rewrite.serialised.json
  conjure_oxide/tests/integration/xyz/input.expected-parse.serialised.json
  conjure_oxide/tests/integration/xyz/input.expected-rewrite.serialised.json
  conjure_oxide/tests/model_tests.rs
  conjure_oxide/tests/rewrite_tests.rs
  crates/conjure_core/src/ast.rs
Labels: area::conjure-oxide, area::conjure-oxide/ast

#157 Model example library for testing
  conjure_oxide/Cargo.toml
  conjure_oxide/src/generate_custom.rs
  conjure_oxide/src/lib.rs
  conjure_oxide/src/main.rs
  conjure_oxide/tests/generated_tests.rs
  conjure_oxide/tests/integration/abc/abc.essence.disabed
  conjure_oxide/tests/integration/basic/comprehension-01-1/comprehension-01-1.essence.disabled
  conjure_oxide/tests/integration/basic/comprehension-01-2/comprehension-01-2.essence.disabled
  conjure_oxide/tests/integration/basic/comprehension-02-1/comprehension-02-1.essence.disabled
  conjure_oxide/tests/integration/basic/comprehension-02-2/comprehension-02-2.essence.disabled
  conjure_oxide/tests/integration/basic/comprehension-03-1/comprehension-03-1.essence.disabled
  conjure_oxide/tests/integration/basic/comprehension-03-2/comprehension-03-2.essence.disabled
  conjure_oxide/tests/integration/basic/comprehension-04-1/comprehension-04-1.essence.disabled
  conjure_oxide/tests/integration/basic/comprehension-04-2/comprehension-04-2.essence.disabled
  conjure_oxide/tests/integration/basic/enum-01/enum-01.essence.disabled
  conjure_oxide/tests/integration/basic/enum-02/enum-02.essence.disabled
  conjure_oxide/tests/integration/basic/enum-03/enum-03.essence.disabled
  conjure_oxide/tests/integration/basic/finite-givens-set01/finite-givens-set01.essence.disabled
  conjure_oxide/tests/integration/basic/finite-givens-set02/finite-givens-set-02.essence.disabled
  conjure_oxide/tests/integration/basic/finite-givens-set03/finite-givens-set03.essence.disabled
  conjure_oxide/tests/integration/basic/finite-givens-set04/finite-givens-set04.essence.disabled
  conjure_oxide/tests/integration/basic/finite-givens-set05/finite-givens-set05.essence.disabled
  conjure_oxide/tests/integration/mildly-interesting/cyclic-graph/cyc1.param
  conjure_oxide/tests/integration/mildly-interesting/cyclic-graph/cyc2.param
  conjure_oxide/tests/integration/mildly-interesting/cyclic-graph/cyclic_graph.essence.disabled
  conjure_oxide/tests/integration/mildly-interesting/gchq-2016/gchq.essence.disabled
  conjure_oxide/tests/integration/mildly-interesting/gchq-2016/inst.param
  conjure_oxide/tests/integration/mildly-interesting/subset-sum/p1.param
  conjure_oxide/tests/integration/mildly-interesting/subset-sum/p2.param
  conjure_oxide/tests/integration/mildly-interesting/subset-sum/subsetSum.essence.disabled
  conjure_oxide/tests/integration/mildly-interesting/xkcd287/xkcd287.essence.disabled
  examples/abc.json
Labels: area::conjure-oxide, kind::testing
