Repository conjure-cp/conjure-oxide, pull requests merged in 2024-03, with the labels that each got.

#254 [solver-interface 2/n]: Minion Implementation
  Cargo.lock
  conjure_oxide/Cargo.toml
  conjure_oxide/src/generate_custom.rs
  conjure_oxide/src/unstable/mod.rs
  conjure_oxide/src/unstable/solver_interface/adaptors/minion.rs
  conjure_oxide/src/unstable/solver_interface/adaptors/mod.rs
  conjure_oxide/src/unstable/solver_interface/mod.rs
  conjure_oxide/src/unstable/solver_interface/model_modifier.rs
  conjure_oxide/src/unstable/solver_interface/private.rs
  conjure_oxide/src/unstable/solver_interface/states.rs
  conjure_oxide/src/unstable/solver_interface/stats.rs
  conjure_oxide/src/utils/conjure.rs
  conjure_oxide/src/utils/testing.rs
  conjure_oxide/tests/integration/basic/bool/01/bool-01.expected-minion.solutions.json
  conjure_oxide/tests/integration/basic/bool/02/bool-02.expected-minion.solutions.json
  conjure_oxide/tests/integration/basic/bool/03/bool-03.expected-minion.solutions.json
  conjure_oxide/tests/integration/basic/min/01/input.expected-minion.solutions.json
  conjure_oxide/tests/integration/basic/min/02/input.expected-minion.solutions.json
  conjure_oxide/tests/integration/basic/min/03/input.expected-minion.solutions.json
  conjure_oxide/tests/integration/basic/min/05/input.expected-minion.solutions.json
  conjure_oxide/tests/integration/xyz/input.expected-minion.solutions.json
Labels: area::solvers/minion, area::conjure-oxide

#263 [solver-interface 3]: Remove old interface, port SAT code over to new one
  conjure_oxide/src/lib.rs
  conjure_oxide/src/solver/adaptors/kissat.rs
  conjure_oxide/src/solver/adaptors/minion.rs
  conjure_oxide/src/solver/adaptors/mod.rs
  conjure_oxide/src/solver/adaptors/sat_common.rs
  conjure_oxide/src/solver/mod.rs
  conjure_oxide/src/solver/model_modifier.rs
  conjure_oxide/src/solver/private.rs
  conjure_oxide/src/solver/states.rs
  conjure_oxide/src/solver/stats.rs
  conjure_oxide/src/solvers/error.rs
  conjure_oxide/src/solvers/minion.rs
  conjure_oxide/src/solvers/mod.rs
  conjure_oxide/src/unstable/mod.rs
  conjure_oxide/src/utils/conjure.rs
  conjure_oxide/tests/rewrite_tests.rs
Labels: area::conjure-oxide

#274 Uniplate and Biplate using Trees
  Cargo.lock
  crates/uniplate/Cargo.toml
  crates/uniplate/proptest-regressions/tree.txt
  crates/uniplate/src/biplate.rs
  crates/uniplate/src/lib.rs
  crates/uniplate/src/test_common/mod.rs
  crates/uniplate/src/test_common/paper.rs
  crates/uniplate/src/tree.rs
  crates/uniplate/tests/expr_stmt_manual.rs
Labels: area::uniplate

#270 Add logging and rule application trace
  Cargo.lock
  conjure_oxide/Cargo.toml
  conjure_oxide/src/main.rs
  conjure_oxide/src/rule_engine/rewrite.rs
Labels: kind::feature, help wanted, area::conjure-oxide
