Repository conjure-cp/conjure-oxide, pull requests merged in 2024-01, with the labels that each got.

#124 Refactor central ADTs into a core module for modularity
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  conjure_oxide/Cargo.toml
  conjure_oxide/src/lib.rs
  conjure_oxide/src/main.rs
  conjure_oxide/src/parse.rs
  conjure_oxide/src/solvers/error.rs
  conjure_oxide/src/solvers/minion.rs
  conjure_oxide/src/solvers/mod.rs
  conjure_oxide/tests/generated_tests.rs
  crates/conjure_core/Cargo.toml
  crates/conjure_core/README.md
  crates/conjure_core/src/ast.rs
  crates/conjure_core/src/lib.rs
  crates/conjure_core/src/solvers.rs
Labels: area::conjure-oxide, kind::refactor

#123 minion_rs: make the use of ffi functions clearer
  solvers/minion/src/error.rs
  solvers/minion/src/ffi.rs
  solvers/minion/src/lib.rs
  solvers/minion/src/run.rs
Labels: area::solvers/minion, kind::refactor

#117 Better minion example
  solvers/minion/src/lib.rs
Labels: kind::documentation, area::solvers/minion

#83 Translation from Conjure-Oxide Model to CNF KissSAT
  .gitignore
  conjure_oxide/src/main.rs
  conjure_oxide/src/solvers/kissat.rs
  conjure_oxide/src/solvers/mod.rs
  conjure_oxide/tests/rewrite_tests.rs
  crates/conjure_core/src/ast.rs
  tools/essence-feature-usage-stats/.gitignore
Labels: area::conjure-oxide
